* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F1020;
    height: 100vh;
}

.video-container {
    /*To center the div*/
    display: flex;
    justify-content: center;   /*Center horizontally*/
    align-items: center;       /*Center vertically*/
    margin-left: 1%;
    margin-right: 1%;
    position: relative;   /*Parent class*/
    border: 2px solid #D6DBD2;
    border-radius: 5px;
    box-sizing: border-box; /*Include border in element's dimensions*/
    width: 100%; /* Adjust width and height as needed */
    height: 97vh;
}

.video-container img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.video {
    object-fit: cover; /*Avoids the streching of image*/
}

.child-elements-1 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background: rgba(0,0,0,0.6);
    border-right: 2px solid #D6DBD2;
    border-bottom: 2px solid #D6DBD2;
    border-radius: 0px 0px 5px 0px;
}

.child-elements-2 {
    position: absolute;
    visibility: hidden;
}

#image {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #C5EBC3;
    border-radius: 1px;
}

#Heading {
    padding-right: 20px;
    margin-left: 10px;
    margin-top: 7px;
    float: left;
    font-size: xx-large;
    color: #C5EBC3;
    border-right: 2px solid #C5EBC3;
}

#backbtn {
    /* vertical-align: super; */
    float: left;
    padding: 5px;
    border: none;
    outline: none;
    background-color: #A8E0FF;
    color: #0F1020;
    cursor: pointer;
    border-radius: 5px;
    border-style: solid;
    border-color: #C5EBC3;
    border-width: 2px;
    font-size: 15px;
    font-weight: bold;
    margin: 0 auto;
    transition: 0.3s ease;
    text-align: center;
    margin-top: 11px;
    margin-left: 20px;
    
    
}

#backbtn:hover {
    transform: scale(1.08);
    box-shadow: 0px 0px 10px #A8E0FF; 
}

@media screen and (max-width: 1000px) {
    .video-container {
        width: 100%;
        height: 97vh;
    }

    #Heading {
        font-size: x-large;
        margin-top: 12px;
    }

    .child-elements-2 {
        visibility: hidden;
    }
}

@media screen and (max-width: 376px) {
    .video-container {
        width: 100%;
        height: 97vh;
    }

    .child-elements-1 {
        width: 94%;
    }

    #Heading {
        margin-top: 7px;
        font-size: x-large;
        padding: 0;
        border-right: 0;
    }

    #backbtn {
        font-size: 0;
        padding: 0;
        margin: 0;
        visibility: hidden;
    }

    #image {
        width: 40px;
        height: 40px;
    }

    .child-elements-2 {
        visibility: visible;
        top: 90%;
        width: 100%;
        text-align: center;
    }

    #smlbtn {
        padding: 5px;
        border: none;
        outline: none;
        background-color: #A8E0FF;
        color: #0F1020;
        cursor: pointer;
        border-radius: 5px;
        border-style: solid;
        border-color: #C5EBC3;
        border-width: 2px;
        font-size: 15px;
        font-weight: bold;
        margin: 0 auto;
        transition: 0.3s ease;
        text-align: center;
    }

    #smlbtn:hover {
        transform: scale(1.08);
        box-shadow: 0px 0px 10px #A8E0FF; 
    } 
}