/* css for index.html */

/*To remove the default styles given by browser to the body, html, etc. Select all elements using '*' and give desired style.*/ index-* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #0F1020;
    margin: 0;
}

.section-title {
    padding: 5px;
    margin: 0px 20px 0px;
    color: #C5EBC3;
    /* background-color: #FCDC4D; yellow color*/
    background-color: #A8E0FF;
    border-radius: 5px;
    border: #D6DBD2 2px solid;
    color: #0F1020;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    text-align: center;
    color: #C5EBC3;
    padding: 20px;
    margin: 0;
}

nav {
    background-color: #7353BA;
    display: grid;
    place-items: center;
}


nav ul {
    list-style-type: none;
}

nav ul a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    columns: #000;
    transition: 0.2s ease-in;
    font-size: 18px;
    border: 1px solid transparent;
    box-sizing: border-box; /*Include border in element's dimensions*/
}

nav li {
    color: #B7C8B5;
}

nav ul a:hover {
    background-color: #E75A7C;
    border-radius: 5px;
    border-color: #D6DBD2;
}


/* Actual Selection panel*/
.exercises {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 20px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}


/* starts from here */
.exercise {
    position: relative; /*Parent class*/
}

.exercise img{
    object-fit: cover;
    width: 100%;
    height: 350px;
    border-radius: 5px;
    border: #D6DBD2 2px solid;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.content h2 {
    margin: 0;
    text-transform: uppercase;
    color: #D6DBD2;
}

.content p, li {
    color: #F2F5EA;
}
.exercise h4 {
    font-size: 20px;
    color: #f2f5ea;
    text-transform: uppercase;
    text-align: center;
    transition: 0.7s ease;
}

.content {
    position: absolute;  /*Child class*/
    height: 73%;
    background: rgba(0,0,0,0.6);
    top: 0;
    padding: 20px;
    transition: opacity 0.5s ease;
    border-radius: 5px;
    opacity: 0;
}

.exercise:hover > img {
    transform: scale(1.08);
    filter: blur(3px);
}

.exercise:hover > h4 {
    opacity: 0;
    transition: 0.1s ease;
}

.exercise:hover >* {
    opacity: 1;
    transition: 0.5s ease;
}

.content button:hover {
    transform: scale(1.08);
    box-shadow: 0px 0px 10px #A8E0FF; 
} 

.content button {
    padding: 5px;
    border: none;
    outline: none;
    background-color: #A8E0FF;
    color: #0F1020;
    cursor: pointer;
    border-radius: 5px;
    border-style: solid;
    border-color: #0F1020;
    border-width: 1px;
    font-size: 15px;
    font-weight: bold;
    margin: 0 auto;
    transition: 0.3s ease;
    text-align: center;
}


/*Ends here*/


@media screen and (max-width: 1000px) {
    .exercises {
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        padding: 15px;
        margin: 0;
    }
}

@media screen and (max-width: 720px) {
    .exercises {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 560px) {
    .exercises {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px 10px;
    }

    .section-title {
        padding: 5px;
        margin: 0px 10px 0px;
        font-size: large;
    }

    h1 {
        padding: 10px;
        margin: 0;
        font-size: x-large;
    }
}