<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/exercise.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/Logo.jpeg')}}">
    <title>Video Stream</title>
</head>
<body>

    <div class="video-container">
        <!-- Using 'video' variable to avoid the repeating html pages -->
        <img class="video" src="{{ url_for('exercise_video', exercise_video=video) }}" alt="Video Stream">
        <div class="child-elements-1">
            <img id="image" src="{{ url_for('static', filename='img/Logo.jpeg')}}" alt="" width="10" height="10">
            <h1 id="Heading">FORM PERFECTOR</h1>
            <a href="/"><button id="backbtn">Back to home</button></a>
        </div>
        <div class="child-elements-2">
            <a href="/"><button id="smlbtn">Back to home</button></a>
        </div>
    </div>
    
</body>
</html>