<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/Logo.jpeg')}}">
    <title>Form Perfector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
    <h1>FORM PERFECTOR</h1>
    <nav>
        <ul style="margin: 0;">
            <a href="#">
                <li>HOME</li>
            </a>
            <a href="#">
                <li>ORDER</li>
            </a>
            <a href="#">
                <li>NEAR</li>
            </a>
            <a href="#">
                <li>ABOUT</li>
            </a>
        </ul>
    </nav>
    <br>


    <div class="selection-panel">
        <h2 class="section-title">Exersizes we offer</h2>

        <section class="exercises">

            <div class="exercise">
                <img src="{{ url_for('static', filename='img/biceps-exercises-dumbbell-home.jpeg') }}" alt="Photo 1">
                <div class="content">
                    <h2>Bicesps</h2><br>
                    <p>Tighten your bicep and hold that tension as you raise the dumbbell up to your shoulder, bending
                        at
                        the elbow. Exhale as you curl, pause, then inhale as you straighten back to the starting
                        position.
                        Keep your elbow on your thigh at all times. Perform 3 sets of 12 reps, resting for 60 seconds
                        between each set.</p><br>
                    <a href="/exercise/biceps"><button>Lets Try</button></a>
                </div>
                <h4>Biceps</h4>
            </div>

            <div class="exercise">
                <img src="{{ url_for('static', filename='img/triceps.jpg') }}" alt="Photo 2">
                <div class="content">
                    <h2>Tricesps</h2><br>
                    <p>Hold a weight in both hands, extending it up overhead. Keep your biceps close to your ears and
                        elbows pointing forward as you lower the weight behind your head until the elbows are at about
                        90-degree angles. Straighten the arms, contracting the triceps, and then repeat for 1 to 3 sets
                        of 8 to 16 reps.</p><br>
                    <a href="/exercise/triceps"><button>Lets Try</button></a>
                </div>
                <h4>Triceps</h4>
            </div>

            <div class="exercise">
                <img src="{{ url_for('static', filename='img/plank.jpg') }}" alt="Photo 3">
                <div class="content">
                    <h2>Plank</h2><br>
                    <p>Get into pushup position. ...
                        Keep your palms and toes firmly planted on the ground, your back straight, and your core tight.
                        Make sure your body is in a straight line while you're in plank position. ...
                        Hold your plank for the predetermined time.</p><br>
                    <a href="/plank"><button>Lets Try</button></a>
                </div>
                <h4>Plank</h4>
            </div>

            <div class="exercise">
                <img src="{{ url_for('static', filename='img/lat_pull_down.jpg') }}" alt="Photo 4">
                <div class="content">
                    <h2>Lat Pull Down</h2><br>
                    <p>Stand facing the cable pulley, with your feet shoulder-width apart. Grasp the bar with hands
                        slightly wider than shoulder width and knees slightly bent.
                        Keep your elbows straight and focus on pulling the bar to your hips. ...
                        Hold for 1-2 seconds, keeping your shoulder blades back and down.</p><br>
                    <a href="/lat_pull_down"><button>Lets Try</button></a>
                </div>
                <h4>Lat Pull Down</h4>
            </div>

            <div class="exercise">
                <img src="{{ url_for('static', filename='img/overhead_press.jpg') }}" alt="Photo 1">
                <div class="content">
                    <h2>Overhead Press</h2><br>
                    <p>Setup. Stand with the bar on your front shoulders. ...
                        Lift Your Chest. Raise your chest towards the ceiling by arching your upper-back. ...
                        Press. Take a big breath, hold it, and press the bar in a vertical line. ...
                        Move Forward. Stay close to the bar while you press the weight up. ...
                        Lockout.</p><br>
                    <a href="/overhead_press"><button>Lets Try</button></a>
                </div>
                <h4>Overhead Press</h4>
            </div>

            <div class="exercise">
                <img src="{{ url_for('static', filename='img/skullcrusher.jpg') }}" alt="Photo 2">
                <div class="content">
                    <h2>Skullcrusher</h2><br>
                    <p>Start by lying back on the bench. ...
                        Press the weight straight up above your chest. ...
                        Lower the weight slowly down to an inch above your forehead, moving only at the elbows. ...
                        Drive the weight back up (again moving only at the elbows), squeezing your triceps at the top.
                    </p><br>
                    <a href="/skullcrusher"><button>Lets Try</button></a>
                </div>
                <h4>Skullcrusher</h4>
            </div>

            <div class="exercise">
                <img src="{{ url_for('static', filename='img/leg_press.jpg') }}" alt="Photo 3">
                <div class="content">
                    <h2>Leg Press</h2><br>
                    <p>Choose the appropriate weight and set the seat so that the knees are bent just over right angles.
                        Position feet about shoulder width apart.
                        Try to push through your heels, keeping the knees lined up over the toes.
                        Extend the legs until nearly straight, avoiding locking the knees.</p><br>
                    <a href="/leg_press"><button>Lets Try</button></a>
                </div>
                <h4>Leg Press</h4>
            </div>

            <div class="exercise">
                <img src="{{ url_for('static', filename='img/squats.jpg') }}" alt="Photo 4">
                <div class="content">
                    <h2>Squats</h2><br>
                    <p>Stand straight with feet hip-width apart. ...
                        Engage your core muscles. ...
                        Lower down, as if sitting in an invisible chair. ...
                        Lift back up to standing position. ...
                        Repeat for 10 to 15 reps, for three sets</p><br>
                    <a href="/squats"><button>Lets Try</button></a>
                </div>
                <h4>Squats</h4>
            </div>

            <div class="exercise">
                <img src="{{ url_for('static', filename='img/deadlift.jpg') }}" alt="Photo 4">
                <div class="content">
                    <h2>Deadlift</h2><br>
                    <p>Stand with your mid-foot under the barbell
                        Bend over and grab the bar with a shoulder-width grip
                        Bend your knees until your shins touch the bar
                        Lift your chest up and straighten your lower back
                        Take a big breath, hold it, and stand up with the weight</p><br>
                    <a href="/deadlift"><button>Lets Try</button></a>
                </div>
                <h4>Deadlift</h4>
            </div>

            <div class="exercise">
                <img src="{{ url_for('static', filename='img/seated_rows.jpg') }}" alt="Photo 4">
                <div class="content">
                    <h2>Seated Rows</h2><br>
                    <p>Sit upright on the bench and plant your feet on the floor or foot pads, knees bent. Extend your
                        arms and hold the handle or cable. ...
                        Exhale. ...
                        Inhale and slowly extend your arms, counting to 3.
                        Complete one set of 12 to 15 reps.</p><br>
                    <a href="/seated_rows"><button>Lets Try</button></a>
                </div>
                <h4>Seated Rows</h4>
            </div>

        </section>
    </div>

</body>

</html>