<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/Logo.jpeg')}}">
    <title>Form Perfector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
    <h1>FORM PERFECTOR</h1>
    <nav>
        <ul style="margin: 0;">
            <a href="#">
                <li>HOME</li>
            </a>
            <a href="#">
                <li>ORDER</li>
            </a>
            <a href="#">
                <li>NEAR</li>
            </a>
            <a href="#">
                <li>ABOUT</li>
            </a>
        </ul>
    </nav>
    <br>


    <div class="selection-panel">
        <h2 class="section-title">Exersizes we offer</h2>

        <section class="exercises">

            <div class="exercise">
                <img src="{{ url_for('static', filename='img/biceps-exercises-dumbbell-home.jpeg') }}" alt="Photo 1">
                <div class="content">
                    <h2>Bicesps</h2><br>
                    <!-- <li>skdjf</li>
                        <li>sbvskd</li> -->
                    <p>Tighten your bicep and hold that tension as you raise the dumbbell up to your shoulder, bending
                        at
                        the elbow. Exhale as you curl, pause, then inhale as you straighten back to the starting
                        position.
                        Keep your elbow on your thigh at all times. Perform 3 sets of 12 reps, resting for 60 seconds
                        between each set.</p><br>
                    <a href="/biceps"><button>Lets Try</button></a>
                </div>
                <h4>Biceps</h4>
            </div>

            <div class="exercise">
                <img src="{{ url_for('static', filename='img/download.jpg') }}" alt="Photo 2">
                <div class="content">
                    <h2>Tricesps</h2><br>
                    <li>skdjf</li>
                    <li>sbvskd</li>
                    <p>Tighten your bicep and hold that tension as you raise the dumbbell up to your shoulder, bending
                        at
                        the elbow. Exhale as you curl, pause, then inhale as you straighten back to the starting
                        position.
                        Keep your elbow on your thigh at all times. Perform 3 sets of 12 reps, resting for 60 seconds
                        between each set.</p><br>
                    <a href="/triceps"><button>Lets Try</button></a>
                </div>
                <h4>Triceps</h4>
            </div>

            <div class="exercise">
                <img src="{{ url_for('static', filename='img/images (1).jpg') }}" alt="Photo 3">
                <div class="content">
                    <h2>Plank</h2><br>
                    <li>skdjf</li>
                    <li>sbvskd</li>
                    <p>Tighten your bicep and hold that tension as you raise the dumbbell up to your shoulder, bending
                        at
                        the elbow. Exhale as you curl, pause, then inhale as you straighten back to the starting
                        position.
                        Keep your elbow on your thigh at all times. Perform 3 sets of 12 reps, resting for 60 seconds
                        between each set.</p><br>
                    <a href="/plank"><button>Lets Try</button></a>
                </div>
                <h4>Plank</h4>
            </div>

            <div class="exercise">
                <img src="{{ url_for('static', filename='img/images.jpg') }}" alt="Photo 4">
                <div class="content">
                    <h2>Bicesps</h2><br>
                    <li>skdjf</li>
                    <li>sbvskd</li>
                    <p>Tighten your bicep and hold that tension as you raise the dumbbell up to your shoulder, bending
                        at
                        the elbow. Exhale as you curl, pause, then inhale as you straighten back to the starting
                        position.
                        Keep your elbow on your thigh at all times. Perform 3 sets of 12 reps, resting for 60 seconds
                        between each set.</p><br>
                    <a href="/new_video_feed"><button>Lets Try</button></a>
                </div>
                <h4>Legs</h4>
            </div>
        </section>
    </div>

</body>

</html>